{% extends "index.html" %}
{% block content %}

<h1>Welcome to Void</h1>
<div class="response-group">
	<div class="row">
		<!-- <div class="col-lg-12">
					<h2 class="my-4">Faviorates</h2>
		</div> -->
	<div class="row row-offcanvas row-offcanvas-right">	
		<div class="col-12 col-md-9">
			<div class="container">
				<div class="jumbotron">
					<h1 class="my-4">Faviorates</h1>
					<div class="row">
						{% for results in favoriate_tools %}
						<div class="col-6 col-lg-4">
							<img class="rounded-circle img-fluid d-block mx-auto" src="../static/img/hadoop3.png" alt="">
							<h3><a href="{{results[1]}}">{{results[0]}}</a></h3>
						</div>
						{% endfor %}
					</div>
				</div>


				<h1 class="my-4">Recommendation</h1>
					<div class="row">
						{% for results in recommended_tool %}
						<div class="col-6 col-lg-4">
							<img class="rounded-circle img-fluid d-block mx-auto" src="../static/img/conan1.png" alt="">
							<h3><a href="{{results[1]}}">{{results[0]}}</a></h3>
						</div>
						{% endfor %}
					</div>
			</div>

			<div class="container">
				<h1 class="my-4">Roles Recommendation</h1>
				<div class="row">
					{% for results in role_tool %}
					<div class="col-6 col-lg-4">
						<img class="card h-100" src="../static/img/conan1.png" alt="">
						<h3><a href="{{results[1]}}">{{results[0]}}</a></h3>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
			<h1 class="my-3">24 Hours Hits</h1>
			<div class="progress" style="height: 30px;">
				<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">ESS</div>
			</div>
			
			<div class="progress" style="height: 30px;">
				<!-- <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">SMS</div> -->
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">SMS</div>
			</div>
			</div>

			<div class="progress" style="height: 30px;">
				<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">ALEX</div>
			</div>
		</div>
	</div>


</div>

{% endblock %}