{% extends "index.html" %}
{% block content %}

<!-- <h3>Welcome to Void</h3> -->

<div id="wrapper">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav" id= 'tools'>
			<li class="sidebar-brand">
					<!-- <a href="#">
							Tools
					</a> -->
			</li>
			{% for name in tool_name%}
				<li id ={{name}} class="list-group-item-action">{{name}}</li>
				</li>
			{% endfor %}
			
		</ul>
	</div>


		<div id="page-content-wrapper">
				<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#426493;">
					<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
						<ul class="navbar-nav mr-auto">
							<li>
									<img src="../static/img/ericsson.png"  width="30" height="10">
									<span style="display: inline-block;"> <h4 class="text-white">eHome</h4> </span>
							</li>
						</ul>
					</div>

					
							
						<div class="dropdown nav navbar-nav navbar-right">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="selectButton" data-toggle="dropdown">
								{{username}}
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu scrollable-menu" id="ulGenres">
								<li>
												<a class="dropdown-item" href="ehuamin">ehuamin</a>
								</li>
								<li>
												<a class="dropdown-item" href="eniewei">eniewei</a>
								</li>
								<li>
												<a class="dropdown-item" href="eyneiux">eyneiux</a>
								</li>
								<li>
												<a class="dropdown-item"  href="ekunnii">ekunnii</a>
								</li>
								</ul>
						</div>
				</nav>
		</div>
				<div class="container-fluid">
					<div class="row row-offcanvas row-offcanvas-right">	
						<div class="col-12 col-md-8">
							<div class="container">
									<h5 class="my-5">Favorites <a href="#menu-toggle" id="menu-toggle" class="text-dark"><small><u>Edit</u></small></a> </h5> 


									<div class="row">
										{% for results in favoriate_tools %}
											<div class="col-6 col-lg-2">
												<a href="{{results[1]}}"><img class="img-fluid" src="../static/img/{{results[0]}}" alt="Responsive image"></a>
												<h5><p class="text-dark">{{results[2]}}</p></h5>
											</div>
										{% endfor %}
									</div>
				
								<div class="border-top my-5"></div>
								<h5 class="my-4">Recommended:</h5>
									<div class="row">
										{% for results in recommended_tool %}
										<div class="col-6 col-lg-2">
											<a href="{{results[1][1]}}"><img class="img-fluid" src="../static/img/{{results[1][0]}}" alt="Responsive image"></a>
											<h5><p class="text-dark">{{results[1][2]}}</p></h5>
											<p class="text-muted"><small>because you like {{results[0]}}</small></p>
										</div>
										{% endfor %}
									</div>
							</div>
				
							<div class="border-top my-1"></div>
							<div class="container">
								<h5 class="my-4">People in the same field are also using:</h5>
								<div class="row">
									{% for results in role_tool %}
									<div class="col-6 col-lg-2">
										<a href="{{results[1]}}"><img class="img-fluid" src="../static/img/{{results[0]}}" alt="Responsive image"></a>
										<h5><p class="text-dark">{{results[2]}}</p></h5>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
				
						<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
								<h5 class="my-5">24H Hits </h5>
						
							<table class="table table-striped">
								<!-- <thead>
									<tr>
										<th scope="col"></th>
										<h5 class="my-5">24H Hits </h5>
										<th scope="col"></th>
				
									</tr>
								</thead> -->
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>ESS</td>
										<th scope="col"><span class="glyphicon glyphicon-envelope"></span><i class="glyphicon glyphicon-fire"></i></th>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>ASS</td>
										<th scope="col"><i class="glyphicon glyphicon-fire"></i></th>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>BSS</td>
										<th scope="col"><i class="glyphicon glyphicon-fire"></i></th>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td>DSS</td>
										<th scope="col"><i class="glyphicon glyphicon-fire"></i></th>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td>ESS</td>
										<th scope="col"><i class="glyphicon glyphicon-fire"></i></th>
									</tr>
								</tbody>
							</table>
				
						</div>
					</div>
						
		
				</div>
		</div>
		
				
</div>




{% endblock %}