<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VOID</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/round-about.css" rel="stylesheet">

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">VOID Smart</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Example single danger button -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ekunnii
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="ehuamin">ehuamin</a>
              <a class="dropdown-item" href="eniewei">eniewei</a>
              <a class="dropdown-item" href="eyneiux">eyneiux</a>
            </div>
          </div>

     
      </div>
    </nav>
  </body>


<!-- <Page container> -->
  <body>
      

  
        <!-- child template -->
        <!-- {% block content %}{% endblock %} -->
  
        <!-- errors -->
        <!-- {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %} -->
  
        <!-- messages -->
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      
    </body>


  <body>

    

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; VOID 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/dropdown.js"></script>

  </body>

</html>
